@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;1,400&display=swap');

$maxwidth: 700px;

* {
  --deckgo-highlight-code-carbon-header-button-width: 8px;
  --deckgo-highlight-code-carbon-header-button-height: 8px;
  --deckgo-highlight-code-carbon-header-padding: 8px;
  --deckgo-highlight-code-margin: 0 0 10px 0;
  --deckgo-highlight-code-font-family: "IBM Plex Mono", monospace;
  --deckgo-highlight-code-font-size: 10pt;
  --deckgo-highlight-code-carbon-box-shadow: rgba(0, 0, 0, 0.55) 0 2px 4px;
}